# This is a basic workflow to build robot code.
name: Lint and run tests
# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch.
on:
  push: 
    branches: [ main ]
  pull_request:
    branches: [ main ]

# cancel earlier run on new push
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
  
jobs:
  spotless:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        name: Download repo to one of Githubs computers
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v5
        name: Install Java 17
        with:
          distribution: 'zulu'
          java-version: 17
          cache: 'gradle'
      - run: |
          chmod +x ./gradlew
          ./gradlew spotlessCheck
        name: Gradle reformat
      - run: ./gradlew test
        name: JUnit tests
      - run: cat ${{github.workspace}}/build/reports/tests/test/index.html
